<%= form_tag questions_path, multipart: true do %>

  <div>
    <h3 class="buffer-bottom">
      Specify the level of the bundle of questions and attach a file of the desired format
    </h3>
    <p>
      <em>Each non-empty line of the file should look like this:</em>
    </p>
    <p>
      <code>
        The text of the question?|Correct answer|Answer 2|Answer 3|Answer 4
      </code>
    </p>
  </div>
  <div class="field buffer-top">
    <%= label_tag "Уровень — #{Question::QUESTION_LEVELS}" %><br>
    <%= text_field_tag :questions_level %>
  </div>
  <div class="field buffer-top">
    <%= label_tag 'Файл с вопросами' %><br>
    <%= file_field_tag :questions_file %>
  </div>

  <div class="actions buffer-top">
    <%= submit_tag %>
  </div>
<% end %>
