<%# A fragment for displaying hint buttons, as well as information from these hints %>
<div class="game-help-info">
  <%# If there is a friend_call or audience_help key in the help hash, we have something to show the user %>
  <% if help.key?(:friend_call) || help.key?(:audience_help) %>
    <div class="row buffer-top-lg">
      <div class="col-xs-12">
        <%# We display information about the "Call a friend" prompt %>
        <% if help.key?(:friend_call) %>
          <div class="alert alert-info text-center">
            <%= help[:friend_call] %>
          </div>
        <% end %>
        <% if help.key?(:audience_help) %>
          <p>Зрители считают: </p>
          <%# We output the distribution of viewers' votes %>
          <% help[:audience_help].sort.map do |key, value| %>
            <div class="progress">
              <div class="progress-bar progress-bar-danger" style="width: <%= value %>%;">
                <%= key.upcase %>: <%= value %>%
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<%# We output hints that can be used during the game %>
<div class="game-help row my-5">
  <div class="col-sm-4">
    <%# For each hint, using the game object, we check whether the hint was used earlier %>
    <% unless game.fifty_fifty_used? %>
      <%= link_to "50/50", help_game_path(game, help_type: :fifty_fifty), data: { turbo_method: "put" }, class: "btn btn-sm btn-warning bi bi-signpost-split mb-1" %>
    <% end %>
  </div>
  <div class="col-sm-4">
    <% unless game.friend_call_used? %>
      <%= link_to "phone", help_game_path(game, help_type: :friend_call), data: { turbo_method: "put" }, class: "btn btn-sm btn-warning bi bi-phone-vibrate mb-1" %>
    <% end %>
  </div>
  <div class="col-sm-4">
    <% unless game.audience_help_used? %>
      <%= link_to "users", help_game_path(game, help_type: :audience_help), data: { turbo_method: "put" }, class: "btn btn-sm btn-warning bi bi-people mb-1" %>
    <% end %>
  </div>
</div>
